fieldset {
    width: 75%;
    border: 2px solid #ff0000;
}

legend {
  font-weight: bold;
  font-size: 125%;
  font-family: verdana;
}

label.question {
  width: 225px;
  float: left;
  text-align: left;
  font-weight: bold;
}

span.question {
  font-weight: bold;
}

input, textarea, select {
  border: 1px solid #000;
  padding: 3px;
}

#buttons {
  margin-top: 12px;
}

body {
    background-color: lightblue;
}

h1 {
    font-family: sans-serif;
    color: red;
}

p {
    font-family: verdana;
    font-size: 20px;
}
